<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "d_white.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-itm  active">
            <%= link_to "Home", "/", class: "nav-lnk" , id: "lnk" %>
          </li>
          <li class="nav-itm">
            <%= link_to "Squads", squads_path, class: "nav-lnk", id: "lnk"%>
          </li>
          <li class="nav-itm">
            <%= link_to "Cryptos", cryptos_path, class: "nav-lnk" , id: "lnk"%>
          </li>
          <li class="nav-itm">
            <%= link_to "Posts", posts_path(filter: "new"), class: "nav-lnk", id: "lnk"%>
          </li>
          <li class="nav-itm dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My ❤️ cryptos",  mycryptos_path, class: "dropdown-item" %>
              <%= link_to "My ❤️ posts", myposts_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
