<% if !user_signed_in?  %>
  <%= video_tag "home.mov", autoplay: :autoplay, loop: :loop, muted: :muted, id: "banner_video"  %>
    <div class="banner-container">
      <div class="wetrade-banner">
        <%= image_tag "logo.png", class:"home-logo-m pb-2" %>
        <h1 class="center-h1" style="font-size: 65px;">WeTrade</h1>
        <h5 class="mb-5 pb-5" style="font-size: 20px;">A tool for crypto communities to collaborate and contribute effectively</h5>
      </div>

      <div class="auth-buttons d-flex flex-column">
        <div class="auth-container d-flex">
          <a class="auth-button" href= "<%= new_user_session_path %>"> sign in </a>
        </div>
        <div class="auth-container d-flex">
          <a class="auth-button" href= "<%= new_user_registration_path %>">register </a>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="">
    <div class="" style="height:84vh;">
    <h1 class="home-title">Welcome to WeTrade</h1>
    <%= image_tag "logo.png", class:"home-logo-sm" %>


    <h2 class="home-title">Members:</h2>
    <div class="d-flex justify-content-center">
      <% User.all.last(5).each do |u| %>
      <%= cl_image_tag u.photo.key, class: "avatar-large m-1" %>
      <% end %>
    </div>
    <h3 class="home-title"> Happy Trading <%="#{Date.today.strftime("%A")}, #{current_user.username}!"%> </h3>
  </div>
  <div class="news">
    <div class="newsWidget" >
      <iframe width="100%" scrolling="yes" allowtransparency="true" frameborder="0" src="https://cryptopanic.com/widgets/news/?bg_color=ffecd9&amp;font_family=sans&amp;header_bg_color=486C77&amp;header_text_color=6596a5&amp;link_color=486C77&amp;news_feed=recent&amp;posts_limit=10&amp;text_color=333333&amp;title=Latest%20News" height="500px"></iframe>
    </div>
  </div>
  <ul id="results" class="list-group list-group-horizontal container"></ul>
<%end%>
