<% if !user_signed_in?  %>
  <%= video_tag "home.mov", autoplay: :autoplay, loop: :loop, muted: :muted, id: "banner_video"  %>
    <div class="banner-container">
      <div class="wetrade-banner">
        <h1 class="center-h1" style="font-size: 65px;">WeTrade</h1>
        <h5>A tool for crypto communities to collaborate and contribute effectively</h5>
      </div>

      <div class="auth-buttons d-flex flex-column">
        <div class="auth-container d-flex">
          <a class="auth-button" href= "<%= new_user_session_path %>"> sign in </a>
        </div>
        <div class="auth-container d-flex">
          <a class="auth-button" href= "<%= new_user_registration_path %>">register </a>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="home_entry">
    <div classs="hello-message"><h1 id="day-begin"> Happy <%="#{Date.today.strftime("%A")}, #{current_user.username}!"%> </h1>
      <div id="home-img">
        <%= image_tag('Crypto10.svg') %>
      </div>
    </div>
  </div>
  <div class="news">
    <div class="newsWidget" >
      <iframe width="100%" scrolling="yes" allowtransparency="true" frameborder="0" src="https://cryptopanic.com/widgets/news/?bg_color=ffecd9&amp;font_family=sans&amp;header_bg_color=486C77&amp;header_text_color=6596a5&amp;link_color=486C77&amp;news_feed=recent&amp;posts_limit=10&amp;text_color=333333&amp;title=Latest%20News" height="500px"></iframe>
    </div>
  </div>
  <ul id="results" class="list-group list-group-horizontal container"></ul>
<%end%>
