<div class="container pt-3">


<div class="container col-sm-5 p-0 pt-5">
  <h1 class="mt-4 mb-3" style="color: #625F5A;">Login</h1>
</div>


<div class="container col-sm-5 p-0 pt-3">
  <div id="block-top-colored" style="margin: 0px;"></div>
  </div>
<div class="container log col-sm-5" >
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
