<div class="container">
  <div class="my-3 eggplant-text">
    <h1>Squads</h1>
  </div>

  <div div class="my-3">
    <h2 class="eggplant-text">My Squads</h2>
      <div class="squad-card container">
        <div class="row">
          <% (current_user.squads).each do |s| %>
            <div class="d-flex flex-column squad-card-container justify-content-start">
              <%= link_to squad_path(s), class: "squad-card-typing col-sm-6", style: "color: $eggplant; word-wrap: normal;" do %>
                <div class="mx-2">
                    <h4 class="eggplant-text"><%= s.title %></h4>
                    <div style="width: 100%; height: 3em;" class="d-flex justify-content-around align-items-center">
                      <%= cl_image_tag s.user.photo.key, class: "squad-avatar" %>
                      <% (0...6).each do |u| %>
                        <% if s.users[u] %>
                          <% if s.users[u] != s.user  %>
                            <% if u != 5  %>
                              <%= cl_image_tag s.users[u].photo.key, class: "squad-avatar" %>
                            <% else  %>
                              <%= cl_image_tag s.users[u].photo.key, class: "squad-avatar" %>
                            <% end  %>
                          <% end %>
                        <% else  %>
                          <%= image_tag("blank-profile-picture-973460_960_720.png", class: "squad-avatar") %>
                        <% end  %>
                      <% end %>
                    </div>
                  </div>
                  <div class="squad-description mx-2"><%= s.description %></div>
              <% end %>
          </div>
          <% end %>
        </div>
      </div>
  </div>

  <div div class="my-3">
    <div class="d-flex justify-content-between"><h2 class="eggplant-text squad-category">Open Squads</h2>
    <div>
        <%= link_to new_squad_path, style:"text-decoration:none" do  %>
          <div class="joinbutton createsquad"> create squad </div>
        <% end  %>
    </div>
    </div>
    <div class="squad-card container">
      <div class="row">
        <%(Squad.where(open: true)).each do |s| %>
          <% if !s.users.include?(current_user) %>
            <div class="d-flex flex-column squad-card-container justify-content-start">
              <%= link_to squad_path(s), class: "squad-card-typing col-sm-6", style: "color: $eggplant; word-wrap: normal;" do %>
                  <div class="mx-2">
                    <h4 class="eggplant-text"><%= s.title %></h4>
                    <div style="width: 100%; height: 3em;" class="d-flex justify-content-around align-items-center">
                      <%= cl_image_tag s.user.photo.key, class: "squad-avatar" %>
                      <% (0...6).each do |u| %>
                        <% if s.users[u] %>
                          <% if s.users[u] != s.user  %>
                            <% if u != 5  %>
                              <%= cl_image_tag s.users[u].photo.key, class: "squad-avatar" %>
                            <% else  %>
                              <%= cl_image_tag s.users[u].photo.key, class: "squad-avatar" %>
                            <% end  %>
                          <% end %>
                        <% else  %>
                          <%= image_tag("blank-profile-picture-973460_960_720.png", class: "squad-avatar") %>
                        <% end  %>
                      <% end %>
                    </div>
                  </div>
              <div class="squad-description mx-2"><%= s.description %></div>
            <% end %>

            <%= simple_form_for Membership.new(), url: squad_memberships_path(s) do |f| %>
              <%= f.button :submit, class:"joinbutton", value: "join" %>
            <% end %>
            </div>
          <% end %>
          <% end %>

    </div>
  </div>
</div>
</div>
