

<div class="showsquad">
  <div class="container watchlist">
    <div class="row">
      <% ((@squad.watchlist).cryptos).each  do |crypto|%>
        <div class="col-sm-2">
          <div class="watchlist-item d-flex flex-column justify-content-center align-items-center">
            <h6 class='my-2'><%=crypto.ticker  %></h6>
            <%= image_tag(crypto.image_url, class: "watchlist-img") %>
          </div>
        </div>
      <% end  %>
    </div>
    <div data-controller="crypto">
      <%= form_with url: squad_watchings_path(@squad), method: :get, data: {crypto_target:"form"}, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          data: {crypto_target: "input", action: "keyup->crypto#update"},
          class: "form-control",
          placeholder: "add a crypto to your squad watchlist"
        %>
      <% end %>

      <button data-crypto-target="suggestions" data-action="click->crypto#cmon"></button>
      <div data-crypto-target="list"></div>
      </div>
    </div>
  </div>
  <div class="container chatroom" data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @squad.chatroom.id %>"
  >
    <h1>Squad Chat</h1>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @squad.chatroom.squad_messages.each do |message| %>
        <%= render "shared/message", message: message %>
      <% end %>

    </div>
    <%= simple_form_for [@squad, @squad_message] ,
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
          %>
            <%= f.input :content,
            label: false,
            wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
  </div>

  <% if @membership  %>
    <%= link_to "Leave Squad", membership_path(@membership), class: 'leave-button my-3',
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end  %>


</div>
