<div class="row justify-content-md-center p-0">
  <div class="col-7 align-items-center m3-4 p-0" >
    <h1 class="mt-5" style="color: #625F5A;">My Favorite Posts (<%= @myposts.count %>)</h1>
  </div>
</div>
<div class="row justify-content-md-center p-0">
  <div class="d-flex col-7 filters align-items-center mb-4 mt-4" >
    <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "new" ? "bcg-secondary" : "" %>">
      <%= image_tag "new.png" %>
      <%= link_to "New",  posts_path(filter: "new")%>
    </div>
    <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "hot" ? "bcg-secondary" : "" %>">
      <%= image_tag "hot.png" %>
      <%= link_to "Hot",  posts_path(filter: "hot")%>
    </div>
    <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "votes" ? "bcg-secondary" : "" %>">
      <%= image_tag "votes.png" %>
      <%= link_to "Upvotes",  posts_path(filter: "votes")%>
    </div>
    <div class="p-2 rounded-3 me-auto filter-box <%= params[:filter] == "comments" ? "bcg-secondary" : "" %>">
      <%= image_tag "comments.png" %>
      <%= link_to "Comments",  posts_path(filter: "comments")%>
    </div>
    <%= link_to "Create Post",  new_post_path, class: "p-2 bcg-secondary rounded-3 filter-box"%>
  </div>
</div>

<% @myposts.each do | p | %>
<div class="row justify-content-md-center mb-4">
  <div class="d-flex post-card col-7">
    <div id="block-left-colored"></div>
    <div class="p-3 d-flex width-100">
      <%= cl_image_tag p.user.photo.key, class: "avatar-xl me-3" %>
      <div style="width:100%">
        <div class="d-flex align-items-center post-details">
          <h4 class="m-0 me-3"><%= p.user.username %></h4>
          <h5 class="me-auto"><%= time_ago_in_words(p.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %> ago</h5>
          <%= image_tag "votes.png" %>
          <% upvotes = p.post_votes.sum {|vote| vote.upvote }   %>
          <h6 class="<%= upvotes >= 0 ? "font-color-green" : "font-color-red" %>"> <%= upvotes > 0 ? "+" : "" %><%= upvotes %></h6>
          <%= image_tag "comments.png" %>
          <h6><%=  p.post_comments.count  %></h6>
          <%= image_tag "group.png" %>
          <h6><%= p.post_comments.map {|c| c.user}.uniq.count  %></h6>
        </div>
        <div class="mt-2">
        <%= link_to p.title, post_path(p), class: "post-title" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
