<div class="container">

  <div class="d-flex post-main  rounded-4 mt-5 mb-3">
    <div class="p-3">
      <div class="d-flex align-items-center mb-2">
        <%= cl_image_tag @post.user.photo.key, class: "comment-avatar me-3" %>
        <h4 class=""><%= @post.user.username %></h4>
        <h5><%= time_ago_in_words(@post.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %> ago</h5>
        <h1 class="mb-1"><%=  @post.title%></h1>
      </div>
      <div class="d-flex">
        <div style="width:82px;"></div>
        <p class="mb-1"><%=  @post.content_trix%></p>
      </div>
    </div>
  </div>

  <%= render 'comments', element: @post, comment: @comment %>
</div>
