<div class="container">


  <div class="d-flex post-main  rounded-4 mt-5 mb-3">
    <div class="p-3">
      <div class="d-flex align-items-center mb-2">
        <%= cl_image_tag @post.user.photo.key, class: "comment-avatar me-3" %>
        <h4 class=""><%= @post.user.username %></h4>
        <h5><%= time_ago_in_words(@post.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %> ago</h5>
        <h1 class="mb-1"><%=  @post.title%></h1>
      </div>
      <div class="d-flex">
        <div style="width:82px;"></div>
        <p class="mb-1"><%=  @post.content_trix%></p>
        <div class="d-flex post-voter align-self-end ms-auto">
          <%= simple_form_for([@post, @post_vote]) do |f| %>
            <%= f.input :upvote, as: :hidden, input_html: {value: -1}%>
            <%= f.submit "downvote"%>
          <% end %>
          <% upvotes = @post.post_votes.sum {|vote| vote.upvote }   %>
          <h1 class="<%= upvotes > 0 ? "font-color-green" : "font-color-red" %>"><%= upvotes > 0 ? "+" : "" %><%= upvotes %></h1>
          <%= simple_form_for([@post, @post_vote]) do |f| %>
            <%= f.input :upvote, as: :hidden, input_html: {value: 1}%>
            <%= f.submit "upvote"%>
          <% end %>
          <% if @post_bookmark_present %>
            <%= button_to "delete favorite", post_bookmark_path(@post_bookmark), method: :delete%>
          <% else %>
            <%= button_to "favorite", post_post_bookmarks_path(@post)%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'comments', element: @post, comment: @comment %>
</div>
