<div class="container">
  <div class="row justify-content-md-center">
    <div class="d-flex col-9 align-items-center mt-5 mb-3 p-0" >
      <div class="post-main width-100">
        <div id="block-top-colored"></div>
        <div class="p-3">
          <h1 class="m-3"><%=  @post.title%></h1>
          <div class="d-flex align-items-center mb-3 ms-3 me-2">
            <% if @post.user.photo.key.present? %>
              <%= cl_image_tag @post.user.photo.key, class: "avatar-large m-1" %>
            <% else %>
              <%= image_tag "avatar.png", class: "avatar-large m-1 dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <h4 class=""><%= @post.user.username %></h4>
            <h5><%= time_ago_in_words(@post.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %> ago</h5>
          </div>
          <div class="m-3"><%=  @post.content_trix%></div>
          <div class="d-flex mt-5">

            <%= button_to "Upvote",  post_post_votes_path(@post), class: "p-2 bcg-secondary rounded-3 filter-box", params: {upvote: 1}%>
            <% upvotes = @post.post_votes.sum {|vote| vote.upvote } %> <h1 class="ms-2 me-2 <%= upvotes > 0 ? "font-color-green" : "font-color-red" %>"><%= upvotes > 0 ? "+" : "" %><%= upvotes %></h1>
            <%= button_to "Downvote",  post_post_votes_path(@post), class: "p-2 me-auto bcg-secondary rounded-3 filter-box", params: {upvote: -1}%>

            <a href="#link-to-comment" class="ms-auto p-2 me-2 bcg-main rounded-3 filter-box no-decoration">Comment</a>

            <% if @post_bookmark_present %>
              <%= button_to "Unfavorite", post_bookmark_path(@post_bookmark), method: :delete, form_class: "", class: "p-2  bcg-main rounded-3 filter-box"%>
            <% else %>
              <%= button_to "Favorite", post_post_bookmarks_path(@post), form_class: "", class: "p-2  bcg-main h-100 rounded-3 filter-box"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'comments', element: @post, comment: @comment, comment_nested: @comment_nested %>
</div>
