<% element.crypto_comments.order("created_at ASC").each do |c| %>
  <div class="row justify-content-md-center mb-4">
    <div class="d-flex comment col-9 p-3 rounded-4">
      <%= cl_image_tag c.user.photo.key, class: "comment-avatar me-3" %>
      <h4 class="me-5"><%= c.user.username %></h4>
      <div class="me-auto">
        <h5><%= time_ago_in_words(c.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %> ago</h5>
        <p class="m-0"><%= c.content_trix %></p>
      </div>
      <%= image_tag "comment.png", width: "41", height: "42", class: "p-1 shadow rounded-4 align-self-end"%>
      </p>
    </div>
  </div>
<% end %>

  <div class="row justify-content-center">
    <div class="col-9 p-3 rounded-4">
      <%= simple_form_for [element, comment], html: { class: "p-3 rounded-4 bg-white"} do |c| %>
        <%= c.input :content_trix, as: :rich_text_area, placeholder: 'your comment....', label: 'Comment' %>
        <%= c.submit 'Create' %>
      <% end %>
    </div>
  </div>
</div>
