

<div class="container"></div>
  <div class="row justify-content-center pt-5">
    <div class="col-9">
      <h1 class="mb-4" style="color: #625F5A;">Cryptos (<%= @cryptos.total_count %>)</h1>
      <div class="d-flex filters justify-content-center align-items-center mb-4">
        <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "rank" ? "bcg-secondary" : "" %>">
          <%= image_tag "rank.png" %>
          <%= link_to "Rank",  cryptos_path(filter: "rank")%>
        </div>
        <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "hot" ? "bcg-secondary" : "" %>">
          <%= image_tag "hot.png" %>
          <%= link_to "Hot",  cryptos_path(filter: "hot")%>
        </div>
        <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "ratings" ? "bcg-secondary" : "" %>">
          <%= image_tag "d_empty.png" %>
          <%= link_to "Rating",  cryptos_path(filter: "ratings")%>
        </div>
        <div class="p-2 rounded-3 filter-box me-3  <%= params[:filter] == "votes" ? "bcg-secondary" : "" %>">
          <%= image_tag "votes.png" %>
          <%= link_to "Votes",  cryptos_path(filter: "votes")%>
        </div>
        <div class="p-2 rounded-3 filter-box me-3 <%= params[:filter] == "comments" ? "bcg-secondary" : "" %>">
          <%= image_tag "comments.png" %>
          <%= link_to "Comments",  cryptos_path(filter: "comments")%>
        </div>
        <%= form_with url: cryptos_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control ms-5",
            placeholder: "name or ticker...."
          %>
          <%= submit_tag "Search", class: "filter-box bcg-secondary" %>
        <% end %>
      </div>
    <% @cryptos.each do |c| %>
      <div class="d-flex crypto-card align-items-center m-2">
        <%= image_tag c.image_url, class: "crypto-logo m-2" %>
        <div>
          <%= link_to c.name, crypto_path(c), class: "crypto-name" %>
          <div class="d-flex">
            <h5 class="set-width-lg"><%= c.ticker %></h5>
          </div>
        </div>
        <% rating = (c.crypto_ratings.sum(:rating).to_f/c.crypto_ratings.size).round(2) %>

        <% rating.floor.times do %>
          <%= image_tag("d_full.png", class: "rating-diamond-little m-1") %>
        <% end %>
        <% if rating.modulo(1) >= 0.25 && rating.modulo(1) < 0.75 %>
          <%= image_tag("d_50.png", class: "rating-diamond-little m-1") %>
        <% elsif rating.modulo(1) >= 0.75 %>
          <%= image_tag("d_full.png", class: "rating-diamond-little m-1") %>
        <% else %>
          <%= (image_tag("d_empty.png", class: "rating-diamond-little m-1 diamond-grayscale")) unless rating.floor == 5 %>
        <% end %>
        <% (4-rating.floor).times do %>
          <%= image_tag("d_empty.png",  class: "rating-diamond-little m-1 diamond-grayscale") %>
        <% end %>


        <div class="d-flex crypto-details align-items-center">
          <h5>(<%= rating.round(1) %>)</h5>
          <%= image_tag "rank.png" %>
          <h5 class="set-width-3c">#<%= c.rank %></h5>
          <%= image_tag "votes.png" %>
          <h5 class="set-width-1c"><%= c.crypto_ratings.count %></h5>
          <%= image_tag "comments.png" %>
          <h5 class="set-width-2c"><%= c.crypto_comments.count %></h5>
          <h5 class="set-width-3c"><%= (time_ago_in_words(c.crypto_comments.last.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true)) if !c.crypto_comments.empty? %></h5>
          <%= image_tag "dollar.png" %>
          <h5 class="set-width-4c"><%= c.price_short%></h5>
          <%= image_tag "mcap.png" %>
          <h5><%= c.mcap_short%></h5>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="pagination"><%= paginate @cryptos %> </div>
