<div class="container">

<div class="row justify-content-md-center">
  <div class="d-flex col-11">
    <%= image_tag @crypto.image_url, class: "crypto-logo-show me-3" %>
    <div class="d-flex align-items-center crypto-show">
      <h1 class="me-3"><%=  @crypto.name%></h1>
      <h2 class="me-3"><%= @crypto.ticker.upcase %></h2>
      <% @rating.round(0).times do %>
      <%= image_tag("d_full", class: "rating-diamond") %>
      <% end %>
      <% (5-@rating.round(0)).times do %>
      <%= image_tag("d_empty",  class: "rating-diamond") %>
      <% end %>
      <h3> (<%= @rating.round(1) %>)</h3>
    </div>
  </div>

    <div class="d-flex me-5 mb-5 col-11">
      <h4>rank: #<%= @crypto.rank %></h4>
      <h4 class="me-2">price: €<%= @crypto.price.round(0) %></h4>
      <h4>comment count: <%= @crypto.crypto_comments.count %></h4>
      <h4>rate votes:<%= @crypto.crypto_ratings.count %></h4>
      <h4>latest comment: <%= time_ago_in_words(@crypto.crypto_comments.last.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %></h4>
    </div>
  </div>


  <% @crypto.crypto_comments.each do |c| %>
    <div class="row justify-content-md-center mt-3">
      <div class="d-flex comment col-11 p-3 rounded-4">
        <%= image_tag c.user.photo, class: "comment-avatar me-3" %>
        <h4 class="me-5"><%= c.user.username %></h4>
        <div>
          <h5><%= time_ago_in_words(c.created_at.to_datetime,  scope: 'datetime.distance_in_words.abbrv', include_seconds: true) %></h5>
          <div class="d-flex">
            <p class="m-0"><%= c.content %></p>
            <%= image_tag "comment", width: "50", height: "42", class: "p-1 shadow rounded-4 align-self-end"%>
          </div>
        </div>
        </p>
      </div>
    </div>
  <% end %>
</div>
