<!DOCTYPE html>
<html>
  <head>
    <title>WeTrade - Crypto Trading Community  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if user_signed_in?  %>
    <%= render "shared/navbar" %>

      <p class="alert"><%= alert %></p>
      <%= render "shared/flashes" %>
    <% else %>
    <% end  %>



    <%= yield %>

  </body>
</html>
